.teamContainer {

}

.setContainer {
    display:flex;
    justify-content: center;
    margin:0 auto;
}

.teamCarousel {
    width:50%;
    margin:0 auto;
}

.teamSection {
    background-color: rgb(130, 145, 214);
  padding-bottom:3rem;
}

@media only screen and (max-width: 600px) {
    
    .teamCarousel {
        width:100%;
        
    }
    
  }
  