.teamSection {
    position:absolute;
    top:-50vh;
    color:var(--tertiary-color);
    width:100%;
    background-color:var(--primary-color);
    
    background-image:url("../../../../public/trianglify-bg.png");
    background-size:cover;
    height:100vh;
    transition:top .6s ease;
    z-index:2;
}

.sectionHidden {
    top:-150vh;
  }

.teamTitle {
    position:absolute;
    left:200px;
    top:5rem;
    text-align:right;
    padding-bottom:10px;
    /* background-color: var(--secondary-color); */
    transition:left .4s ease;
    border-bottom-style:solid;
    border-width:5px;
    border-color:var(--secondary-color);
    font-weight:700 !important;
}


.teamTitle > h1 {
    margin:0rem;
    font-size:4rem;
}

.teamText {
    position:absolute;
    left:200px;
    top:15rem;
    font-size:1.75rem;
    width:35%;

}

.teamApplyButton {
    left:200px;
    bottom:25rem;
}

.teamDispContainer {
    position:absolute;
    right:2rem;
    top:14rem;
}

.teamDisp {
    display:flex;
    justify-content: center;
    margin-bottom:2rem;
}

@media only screen and (max-width: 600px) {

    .teamTitle {
        left:20px;
        top:10px;
    }

    .teamTitle >h1 {
        font-size:2.5rem;
    }

    .teamApplyButton {
        left:10px;
        bottom:4rem;
        visibility:hidden;
    }

    .teamApplyButton::after {
        content:"Inscrie-te";
        visibility:visible;
        display:block;
        border-style:solid;
    border-width:3px;
    border-color:var(--secondary-color);
    }

    .teamText {
        left:20px;
        width:80vw;
        top:6rem;;
    
    }

    .teamDispContainer {
        display:none;
    }

    .mobileTeamDispContainer {
        position:absolute;
        top:15rem;
        width:90vw;
    }

    .mobileTeamDisp {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;   
    }
    
  }