.heroBannerImg {
    position:absolute;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    filter:grayscale(50%) brightness(50%)
}

@media only screen and (max-width: 600px) {
    .heroBannerImg {
        object-fit: cover;
    }   
}