.rulesContainer {
  display:grid;
  margin-bottom: 3rem;
  grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  align-content:center;
  width:60vw;
  margin:0 auto;

}

#rules {
  background-color: rgb(130, 145, 214);
  padding:3rem;
}

@media only screen and (max-width: 600px) {
  .rulesContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
  }
  .rulesBlock:last-child {
    background-color: black;
  }
  
}
