.rulesSection {
  position:absolute;
  top:-50vh;
  color:var(--tertiary-color);
  width:100%;
  background-image:url("../../../../public/trianglify-bg.png");
  background-size:cover;
  height:100vh;
  transition:top .6s ease;
  z-index:5;
}

.sectionHidden {
  top:-150vh;
}

.rulesTitle {
  position:absolute;
  left:300px;
  top:5rem;
  text-align:right;
  padding:5px;
  border-bottom-style:solid;
  border-bottom-width:5px;
  border-color: var(--secondary-color);
  transition:left .4s ease;
}


.rulesTitle > h2 {
  margin:0rem;
  padding:0rem;
  font-size:3rem;
  color:var(--secondary-color)
}

.rulesTitle > h1 {
  margin:0rem;
  font-size:4rem;
}

.rulesText {
  position:absolute;
  left:300px;
  bottom:3rem;
  font-size:1.75rem;
  width:75%;
  background-color: var(--secondary-color);
  padding:25px;
  border-radius:25px;
}


.rulesContainer {
  display:flex;
}