.memberBlock {
    margin:0 1rem;
    padding:5px;
    background-color: white;
    border-radius:10px;
    width:200px;
    display:flex;
    justify-content: center;
    flex-direction:column;
    }


.memberBlock > img {
    width:150px;
    aspect-ratio: 1;
    align-self:center;
    border-radius:50%;
    transition:filter .3s ease;
}
.memberBlock > img:hover {
    filter:grayscale() brightness(50%);
}

.memberBlock > p {
    font-size:1.5rem;
    text-align:center;
}

.memberBlock > p::first-letter {
    font-weight:bold;
    font-size:2rem;
}

@media only screen and (max-width: 600px) {
    
    .memberBlock {
        width:120px;
    }
    .memberBlock > img {
        width:90px;
    }
  }
  