.vr {
  border-left: 6px solid rgb(58, 58, 219);
  height: 100px;
  margin: 0 50%;
  position: relative;
  z-index: 1;
}

.lineIn {
    animation:lineIn;
}

@keyframes lineIn {
    0% {
        opacity:0%;
        transform:translateY(-50%) scaleY(0%);
    }
    100% {
        opacity:100%;
        transform:translateY(0%) scaleY(100%);
    }
}