.gamesSection {
  position: absolute;
  top: -50vh;
  color: var(--tertiary-color);
  width: 100%;
  background-color: var(--primary-color);
  background-image:url("../../../../public/trianglify-bg.png");
  background-size:cover;
  height: 100vh;
  transition: top 0.6s ease;
  z-index: 4;
}

.sectionHidden {
  top: -150vh;
}

.gamesTitle {
  position: absolute;
  right: 3rem;
  top: 8rem;
  text-align: right;

  border-bottom-style:solid;
  border-width:5px;
  border-color:var(--secondary-color);
  transition: right 0.4s ease;

}


.gamesTitle > h2 {
  margin: 0rem;
  padding: 0rem;
  font-size: 3rem;
  color: var(--primary-color);
}

.gamesTitle > h1 {
  margin: 0rem;
  font-size: 4rem;
}

.gamesText {
  position: absolute;
  left: 200px;
  top: 5rem;
  font-size: 1.75rem;
  width: 620px;
  background-color: var(--secondary-color);
  padding: 25px;
  border-radius: 25px;
}

.futureGame {
  position: absolute;
  right: 3rem;
  top: 20rem;
  width: 40vw;
  height: 400px;
  text-align: center;
  line-height: 400px;
  font-size: 10rem;
  color: var(--fifth-color);
  border-radius: 25px;
  border-style:dashed;
  border-width:3px;
  border-color:var(--secondary-color)
}

.gamesContainer {
  display:flex;
  position:absolute;
  top:5rem;
  left:200px;

}

@media only screen and (max-width: 600px) {

  .futureGame {
    display:none;
  }

  .gamesTitle {
    left:20px;
    top:10px;
    width:fit-content;
    text-align:left;
  }
  
  .gamesTitle > h1 {
    font-size:2.5rem;
  }

  .gamesContainer{
      left:0px;
      top:6rem;
      margin:0 auto;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-column-gap: 0px;
      grid-row-gap: 0px;
  }

  .gamesSection {
    overflow-y:scroll;
  }
}
