.titleContainer {
    border-color:none;
    color:white;
    position:absolute;
    top:5rem;
    left:50vw;
    transform:translateX(-50%);
    text-align:center;
    margin:none;
    padding:none;
    width:fit-content;
    margin-top:5rem;
    font-size:4rem;
    z-index:2;
    transition: left .6s, font-size .6s, position .6s,background-color .2s,transform .6s,border-width .6s,border-radius .6s;
    transition-timing-function: ease-out;
}

.title {
    font-size:min(inherit,4rem);
    margin:0;
}

.subtitle {
    font-size:2rem;
    color:white;
    margin:0;
    transform:scale(100%);
    transition: width .2s, height .2s;
    width:fit-content;
    margin:0 auto;
    height:fit-content;
}

.disappear {
    transform:scale(0%);
    width:0;
    height:0;
}

.banner {
    background-color: white;
    position:fixed;
    font-size:1rem;
    left:3rem;
    transform:translateX(0%);
    border-radius:50%;
    border-style:solid;
    border-width:2px;
    border-color:white;
    width:fit-content;
    top:4rem;
    margin-top:0;
    padding:15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    cursor:pointer;
    z-index:5;
}

.color1 {
    color:blue;
}

.color2 {
    color:orange;
}