.titleContainer {
    border-color:none;
    color:white;
    position:absolute;
    left:50vw;
    transform:translateX(-50%);
    text-align:center;
    margin:none;
    padding:none;
    width:fit-content;
    margin-top:10rem;
    font-size:4rem;
    z-index:2;
    transition:margin-top .3s ease;
}

.titleContainerUp {
    margin-top:2rem;
}

.title {
    font-size:min(inherit,4rem);
    margin:0;
}

.subtitle {
    font-size:2rem;
    color:white;
    margin:0;
    transform:scale(100%);
    transition: width .2s, height .2s;
    width:fit-content;
    margin:0 auto;
    height:fit-content;
    font-weight:normal !important;
}

.disappear {
    transform:scale(0%);
    width:0;
    height:0;
}

.banner {
    background-color: white;
    position:fixed;
    font-size:1rem;
    left:3rem;
    transform:translateX(0%);
    border-radius:50%;
    border-style:solid;
    border-width:2px;
    border-color:white;
    width:fit-content;
    top:4rem;
    margin-top:0;
    padding:15px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    cursor:pointer;
    z-index:5;
}

.color1 {
    color:blue;
}

.color2 {
    color:orange;
}