.infoContainer {

}
.infoSection {
    padding-bottom:3rem;
}

.sectionTitle {
    color:aliceblue;
    width:fit-content;
    font-size:3rem;
    padding:25px;
    border-radius:25px;
    margin: 4rem auto;
    text-align: center;
}

.infoContent {
    display:flex;
    align-items: center;
    justify-content: center;
}

.infoBlock {
    background-color: white;
    width:300px;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 0 4rem;
    padding:25px;
    border-radius:25px;
}

.infoImg {
    width:300px;
    height:200px;
    object-fit:cover;
}

@media only screen and (max-width: 600px) {
    .infoContent {
        flex-direction:column;
    }

    .infoBlock {
        margin-top:2rem;
    }
  }