.infoContainer {

}

.sectionTitle {
    background-color: white;
    width:fit-content;
    font-size:3rem;
    padding:25px;
    border-radius:25px;
    margin: 4rem auto;
    
}

.infoContent {
    display:flex;
    align-items: center;
    justify-content: center;
}

.infoBlock {
    background-color: white;
    width:300px;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 0 4rem;
    padding:25px;
    border-radius:25px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.infoImg {
    width:300px;
    height:200px;
    object-fit:cover;
}

@media only screen and (max-width: 600px) {
    .infoContent {
        flex-direction:column;
    }

    .infoBlock {
        margin-top:2rem;
    }
  }