.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: fit-content;
  margin: auto;
  border-radius: 50px;
  padding: 0 25px;
  flex: 1;
   color:black;
  
}

a:link {
  text-decoration: inherit;
    color: inherit;
}

a:visited {
  text-decoration: inherit;
    color: inherit;
}

nav {
  position:sticky;
  top:4rem;
  z-index:3;
}

.navButton {
  flex: 1;
  padding:20px;
  text-align: center;
  border-right: 2px solid gray;
  cursor:pointer;
  color:black;
  transition:all .3s ease;
  font-size: 1.25rem;
}

.navButton:last-child {
  border-right-style: none;
}

.pawnImg {
    width:40px;
    position:absolute;
    top:-1rem;
    transform:translateX(-50%);
    transition: left .5s ease;
}

.navSelected {
  color:white !important;
}

@media only screen and (max-width: 600px) {
  nav {
    display:none;
  }
}