@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");


body {
  height:100vh;
  background-color: black;
  font-family:'Inter';
  
}

html {
  height:100vh;
  overflow:hidden;
  scroll-behavior: smooth;
}

main {
  position:relative;
  z-index:1;
  height:100%;
  
  --primary-color:#f1e6d9;
  --secondary-color:#B73C58;
  --tertiary-color:#000000;
  --fourth-color:#3c74b7;
  --fifth-color:#2F2F2F;
}

