@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");


body {
  height:100vh;
  background-color: firebrick;
  font-family:'Inter';
  
}

html {
  height:100vh;
  overflow-x:hidden;
  scroll-behavior: smooth;
}

main {
  position:relative;
  z-index:1;
  height:100%;
}

.cardShadow {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
