@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");


body {
  height:100vh;
  background-color: black;
  font-family:'Inter';
  
}

html {
  height:100vh;
  overflow-x:hidden;
  scroll-behavior: smooth;
}

main {
  position:relative;
  z-index:1;
  height:100%;
  
  --primary-color:#BD9391;
  --secondary-color:#7B435B;
  --secondary-color-transparent:rgba(35, 61, 77,0.5);
  --tertiary-color:#672A4E;
  --fourth-color:#8BE8CB;
  --fifth-color:#303633;
}

