.ruleBlock {
    width:100%;
    height:450px;
    color:white;
}

.ruleBlockImage {
    position:absolute;
    width:33%;
    height:100%;
    object-fit: cover;
    z-index: -1;
    filter:grayscale(50%) brightness(30%);
}

.ruleContent {
    font-size: 3rem;
    font-weight:bold;
    padding:25px;
    margin-top:50%;
    padding-top:0px;
    transform:translateY(-50%);
    text-align: center;
}


@media only screen and (max-width: 600px) {

    .ruleBlock {
        padding:10px;
    }
    
  }

