.ruleBlock {
    margin: 2rem auto;
    background-color: white;
    padding:25px;
    border-radius: 20px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width:150px;
    align-self:center;
    aspect-ratio: 1;
    text-align: center;
}

.ruleIcon {
    transform:scale(2.5);
    margin:1rem;
    color:rgb(87, 87, 253);
}

@media only screen and (max-width: 600px) {

    
    
  }

